#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#clock {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

#warning {
    font-size: 28px;
    font-weight: bold;
    color: red;
    display: none; /* Initially hidden */
}

section {
    display: flex;
    gap: 10px;
}

#map {
    height: 90vh;
    width: 60%;
}

#metrics {
    border-collapse: collapse;
    width: auto;
    font-size: 14px;
    table-layout: fixed;
    background-color: white;
    background-color: rgb(229, 229, 229);
}

#metrics th, #metrics td {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    width: auto;
    height: 10px;
}

#metrics th {
    background-color: #3539a1;
    color: white;
    font-weight: bold;
    padding: 0 0.5em;
}

#metrics tr:first-child > th:first-child {
    background-color: white;
    border: none;
}

#metrics td.kpi {
    background-color: rgb(178, 223, 207);
}

#metrics tr td.kpi:first-of-type {
    background-color: rgb(86, 203, 160);
    text-align: left;
}

#metrics td.metric {
    background-color: rgb(211, 193, 120);
}

#metrics tr td.metric:first-of-type {
    background-color: rgb(207, 157, 71);
    text-align: left;
}

