<!DOCTYPE html>
<html>

<head>
    <title>Real-time map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <div id="clock-container">
        <div id="clock">00:00:00</div>
        <div id="warning">Rush Hour!</div>
    </div>
    <section>
        <div id="map"></div>
        <table id="metrics">
            <tr>
                <th></th>
                <th>Aldoar</th>
                <th>Ramalde</th>
                <th>Paranhos</th>
                <th>Lordelo</th>
                <th>Centro</th>
                <th>Bonfim</th>
                <th>Campanhã</th>
                <th>Porto</th>
            </tr>
            <tr>
                <td class="kpi">Avg Home Charging Time (min)</td>
                <td class="kpi" id="aldoar_home_time">0</td>
                <td class="kpi" id="ramalde_home_time">0</td>
                <td class="kpi" id="paranhos_home_time">0</td>
                <td class="kpi" id="lordelo_home_time">0</td>
                <td class="kpi" id="centro_home_time">0</td>
                <td class="kpi" id="bonfim_home_time">0</td>
                <td class="kpi" id="campanha_home_time">0</td>
                <td class="kpi" id="porto_home_time">0</td>
            </tr>
            <tr>
                <td class="kpi">Charger Utilization (%)</td>
                <td class="kpi" id="aldoar_charger_utilization">0</td>
                <td class="kpi" id="ramalde_charger_utilization">0</td>
                <td class="kpi" id="paranhos_charger_utilization">0</td>
                <td class="kpi" id="lordelo_charger_utilization">0</td>
                <td class="kpi" id="centro_charger_utilization">0</td>
                <td class="kpi" id="bonfim_charger_utilization">0</td>
                <td class="kpi" id="campanha_charger_utilization">0</td>
                <td class="kpi" id="porto_charger_utilization">0</td>
            </tr>
            <tr>
                <td class="kpi">Regional Imbalance (%)</td>
                <td class="kpi" id="aldoar_regional_imbalance">-</td>
                <td class="kpi" id="ramalde_regional_imbalance">-</td>
                <td class="kpi" id="paranhos_regional_imbalance">-</td>
                <td class="kpi" id="lordelo_regional_imbalance">-</td>
                <td class="kpi" id="centro_regional_imbalance">-</td>
                <td class="kpi" id="bonfim_regional_imbalance">-</td>
                <td class="kpi" id="campanha_regional_imbalance">-</td>
                <td class="kpi" id="porto_regional_imbalance">-</td>
            </tr>
            <tr>
                <td class="kpi">Avg Queue Size</td>
                <td class="kpi" id="aldoar_queue_size">0</td>
                <td class="kpi" id="ramalde_queue_size">0</td>
                <td class="kpi" id="paranhos_queue_size">0</td>
                <td class="kpi" id="lordelo_queue_size">0</td>
                <td class="kpi" id="centro_queue_size">0</td>
                <td class="kpi" id="bonfim_queue_size">0</td>
                <td class="kpi" id="campanha_queue_size">0</td>
                <td class="kpi" id="porto_queue_size">0</td>
            </tr>
            <tr>
                <td class="kpi">Stress Level</td>
                <td class="kpi" id="aldoar_stress">0</td>
                <td class="kpi" id="ramalde_stress">0</td>
                <td class="kpi" id="paranhos_stress">0</td>
                <td class="kpi" id="lordelo_stress">0</td>
                <td class="kpi" id="centro_stress">0</td>
                <td class="kpi" id="bonfim_stress">0</td>
                <td class="kpi" id="campanha_stress">0</td>
                <td class="kpi" id="porto_stress">0</td>
            </tr>
            <tr>
                <td class="kpi">Avg Wait Time (min)</td>
                <td class="kpi" id="aldoar_wait">0</td>
                <td class="kpi" id="ramalde_wait">0</td>
                <td class="kpi" id="paranhos_wait">0</td>
                <td class="kpi" id="lordelo_wait">0</td>
                <td class="kpi" id="centro_wait">0</td>
                <td class="kpi" id="bonfim_wait">0</td>
                <td class="kpi" id="campanha_wait">0</td>
                <td class="kpi" id="porto_wait">0</td>
            </tr>
            <tr>
                <td class="kpi">Avg Charging Time (min)</td>
                <td class="kpi" id="aldoar_charging">0</td>
                <td class="kpi" id="ramalde_charging">0</td>
                <td class="kpi" id="paranhos_charging">0</td>
                <td class="kpi" id="lordelo_charging">0</td>
                <td class="kpi" id="centro_charging">0</td>
                <td class="kpi" id="bonfim_charging">0</td>
                <td class="kpi" id="campanha_charging">0</td>
                <td class="kpi" id="porto_charging">0</td>
            </tr>
            <tr>
                <td class="metric">Cars Present</td>
                <td id="aldoar_cars">0</td>
                <td id="ramalde_cars">0</td>
                <td id="paranhos_cars">0</td>
                <td id="lordelo_cars">0</td>
                <td id="centro_cars">0</td>
                <td id="bonfim_cars">0</td>
                <td id="campanha_cars">0</td>
                <td id="porto_cars">0</td>
            </tr>
            <tr>
                <td class="metric">Home Charging</td>
                <td id="aldoar_home">0</td>
                <td id="ramalde_home">0</td>
                <td id="paranhos_home">0</td>
                <td id="lordelo_home">0</td>
                <td id="centro_home">0</td>
                <td id="bonfim_home">0</td>
                <td id="campanha_home">0</td>
                <td id="porto_home">0</td>
            </tr>
            <tr>
                <td class="metric">Available Chargers</td>
                <td id="aldoar_chargers">0</td>
                <td id="ramalde_chargers">0</td>
                <td id="paranhos_chargers">0</td>
                <td id="lordelo_chargers">0</td>
                <td id="centro_chargers">0</td>
                <td id="bonfim_chargers">0</td>
                <td id="campanha_chargers">0</td>
                <td id="porto_chargers">0</td>
            </tr>
            <tr>
                <td class="metric">Cars Waiting</td>
                <td id="aldoar_queue">0</td>
                <td id="ramalde_queue">0</td>
                <td id="paranhos_queue">0</td>
                <td id="lordelo_queue">0</td>
                <td id="centro_queue">0</td>
                <td id="bonfim_queue">0</td>
                <td id="campanha_queue">0</td>
                <td id="porto_queue">0</td>
            </tr>
            <tr>
                <td class="metric">Cars Charged</td>
                <td id="aldoar_charged">0</td>
                <td id="ramalde_charged">0</td>
                <td id="paranhos_charged">0</td>
                <td id="lordelo_charged">0</td>
                <td id="centro_charged">0</td>
                <td id="bonfim_charged">0</td>
                <td id="campanha_charged">0</td>
                <td id="porto_charged">0</td>
            </tr>
            <tr>
                <td class="metric">Avg Car Battery (%)</td>
                <td id="aldoar_battery">0</td>
                <td id="ramalde_battery">0</td>
                <td id="paranhos_battery">0</td>
                <td id="lordelo_battery">0</td>
                <td id="centro_battery">0</td>
                <td id="bonfim_battery">0</td>
                <td id="campanha_battery">0</td>
                <td id="porto_battery">0</td>
            </tr>
        </table>
    </section>

    <script>

        var carIcon = new L.Icon({
            iconUrl: 'static/car.png',
            shadowUrl: null,
            iconSize: [45, 30],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var centerIcon = new L.Icon({
            iconUrl: 'static/charging_station.png',
            shadowUrl: null,
            iconSize: [40, 40],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        // Initialize the map
        var map = L.map('map').setView([41.165, -8.63], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
        }).addTo(map);

        // Connect to the Socket.IO server
        var socket = io.connect('/');

        var markers = {};
        var circles = {};

        // Function to get color based on stress metric
        function getColor(stress_metric) {
            return stress_metric > 1.2 ? 'red' :
                   stress_metric > 0.9 ? 'darkorange' :
                   stress_metric > 0.7 ? 'orange' :
                   stress_metric > 0.5 ? 'yellow' :
                   stress_metric > 0.4 ? 'yellowgreen' :
                   stress_metric > 0.2 ? 'green' :
                                         'lightgreen';
        }

        // Listen for the 'map_updated' event
        socket.on('map_updated', function (data) {
            // Update the clock with the time from data.time
            document.getElementById('clock').innerText = data.time;
            console.log(data.time);

            // Show or hide the rush hour warning
            if (data.rush_hour == "rush_hour") {
                document.getElementById('warning').style.display = 'block';
            } else {
                document.getElementById('warning').style.display = 'none';
            }

            porto_metrics = {
                'cars': 0,
                'home': 0,
                'chargers': 0,
                'queue': 0,
                'charged': 0,
                'battery': 0,
            }
            porto_kpis = {
                'home': 0,
                'charger_utilization': 0,
                'regional_imbalance': [],
                'queue': 0,
                'stress': 0,
                'wait': 0,
                'charging': 0
            }

            // Update each set of coordinates
            data.region_data.forEach(function (region) {
                // If a marker for this name already exists and its position has changed, update its position
                if (markers[region.name]) {
                    markers[region.name].bindPopup("<b>" + region.name + "</b>");
                }
                // Otherwise, if a marker for this name does not exist, create a new marker and store it in the markers object
                else if (!markers[region.name]) {
                    var marker = L.marker([region.lat, region.lng], { icon: centerIcon }).addTo(map);
                    marker.bindPopup("<b>" + region.name + "</b>");
                    markers[region.name] = marker;
                }

                if (data.step % 5 == 0) {
                    // Draw or update the circle based on the stress metric
                    var color = getColor(region.stress_metric);
                    if (circles[region.name]) {
                        circles[region.name].setLatLng([region.lat, region.lng]);
                        circles[region.name].setStyle({ color: color, fillColor: color });
                        circles[region.name].setRadius(1000);
                    } else {
                        var circle = L.circle([region.lat, region.lng], {
                            color: color,
                            fillColor: color,
                            fillOpacity: 0.5,
                            radius: 1000
                        }).addTo(map);
                        circles[region.name] = circle;
                    }
                }
                
                if (data.step % 10 == 0) {
                    document.getElementById(region.name.toLowerCase() + '_cars').innerText = region.cars_present;
                    porto_metrics['cars'] += region.cars_present;
                    document.getElementById(region.name.toLowerCase() + '_home').innerText = region.home_charging;
                    porto_metrics['home'] += region.home_charging;
                    document.getElementById(region.name.toLowerCase() + '_chargers').innerText = region.available_chargers;
                    porto_metrics['chargers'] += region.available_chargers;
                    document.getElementById(region.name.toLowerCase() + '_queue').innerText = region.queued_cars;
                    porto_metrics['queue'] += region.queued_cars;
                    document.getElementById(region.name.toLowerCase() + '_charged').innerText = region.cars_charged;
                    porto_metrics['charged'] += region.cars_charged;
                    document.getElementById(region.name.toLowerCase() + '_battery').innerText = region.autonomy;
                    porto_metrics['battery'] += region.autonomy;

                    document.getElementById(region.name.toLowerCase() + '_home_time').innerText = region.home_time;
                    porto_kpis['home'] += region.home_time;
                    document.getElementById(region.name.toLowerCase() + '_charger_utilization').innerText = region.charger_utilization;
                    porto_kpis['charger_utilization'] += region.charger_utilization;
                    porto_kpis['regional_imbalance'].push(region.charger_utilization);
                    document.getElementById(region.name.toLowerCase() + '_queue_size').innerText = region.queue_size;
                    porto_kpis['queue'] += region.queue_size;
                    document.getElementById(region.name.toLowerCase() + '_stress').innerText = region.stress_metric;
                    porto_kpis['stress'] += region.stress_metric;
                    document.getElementById(region.name.toLowerCase() + '_wait').innerText = region.wait_time;
                    porto_kpis['wait'] += region.wait_time;
                    document.getElementById(region.name.toLowerCase() + '_charging').innerText = region.charging_time;
                    porto_kpis['charging'] += region.charging_time;
                }
            });

            if (data.step % 10 == 0) {
                document.getElementById('porto_cars').innerText = porto_metrics['cars'];
                document.getElementById('porto_home').innerText = porto_metrics['home'];
                document.getElementById('porto_chargers').innerText = porto_metrics['chargers'];
                document.getElementById('porto_queue').innerText = porto_metrics['queue'];
                document.getElementById('porto_charged').innerText = porto_metrics['charged'];
                porto_metrics['battery'] = Math.round(porto_metrics['battery'] / 7);
                document.getElementById('porto_battery').innerText = porto_metrics['battery'];

                porto_kpis['home'] = Math.round(porto_kpis['home'] / 7);
                document.getElementById('porto_home_time').innerText = porto_kpis['home'];
                porto_kpis['charger_utilization'] = Math.round(porto_kpis['charger_utilization'] / 7);
                document.getElementById('porto_charger_utilization').innerText = porto_kpis['charger_utilization'];
                const variance = porto_kpis['regional_imbalance'].reduce((sum, num) => sum + Math.pow(num - porto_kpis['charger_utilization'], 2), 0) / 7;
                porto_kpis['regional_imbalance'] = Math.round(Math.sqrt(variance));
                document.getElementById('porto_regional_imbalance').innerText = porto_kpis['regional_imbalance'];
                porto_kpis['queue'] = Math.round(porto_kpis['queue'] / 7);
                document.getElementById('porto_queue_size').innerText = porto_kpis['queue'];
                porto_kpis['stress'] = Math.round(porto_kpis['stress'] / 7);
                document.getElementById('porto_stress').innerText = porto_kpis['stress'];
                porto_kpis['wait'] = Math.round(porto_kpis['wait'] / 7);
                document.getElementById('porto_wait').innerText = porto_kpis['wait'];
                porto_kpis['charging'] = Math.round(porto_kpis['charging'] / 7);
                document.getElementById('porto_charging').innerText = porto_kpis['charging'];
            }

            data.car_data.forEach(function (car) {
                // If a marker for this name already exists and its position has changed, update its position
                if (markers[car.name] && !markers[car.name].getLatLng().equals([car.lat, car.lng])) {
                    markers[car.name].setLatLng([car.lat, car.lng]);
                    markers[car.name].bindPopup("<b>" + car.name + "</b>");
                }
                // Otherwise, if a marker for this name does not exist, create a new marker and store it in the markers object
                else if (!markers[car.name]) {
                    var marker = L.marker([car.lat, car.lng], { icon: carIcon }).addTo(map);
                    var popupContent = "<b>" + car.name + "</b>";
                    marker.bindPopup(popupContent);
                    markers[car.name] = marker;
                }
            });

        });
    </script>
</body>

</html>