<!DOCTYPE html>
<html>

<head>
    <title>Real-time map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <div id="clock-container">
        <div id="clock">00:00:00</div>
        <div id="warning">Rush Hour!</div>
    </div>
    <div id="map" style="height: 700px;">
        <table id="metrics">
            <tr>
                <th>Region</th>
                <th>Chargers</th>
                <th>Queue</th>
                <th>Wait (min)</th>
                <th>Battery (%)</th>
            </tr>
            <tr>
                <td>Aldoar</td>
                <td id="aldoar_chargers">0</td>
                <td id="aldoar_queue">0</td>
                <td id="aldoar_wait">0</td>
                <td id="aldoar_battery">0</td>
            </tr>
            <tr>
                <td>Ramalde</td>
                <td id="ramalde_chargers">0</td>
                <td id="ramalde_queue">0</td>
                <td id="ramalde_wait">0</td>
                <td id="ramalde_battery">0</td>
            </tr>
            <tr>
                <td>Paranhos</td>
                <td id="paranhos_chargers">0</td>
                <td id="paranhos_queue">0</td>
                <td id="paranhos_wait">0</td>
                <td id="paranhos_battery">0</td>
            </tr>
            <tr>
                <td>Lordelo</td>
                <td id="lordelo_chargers">0</td>
                <td id="lordelo_queue">0</td>
                <td id="lordelo_wait">0</td>
                <td id="lordelo_battery">0</td>
            </tr>
            <tr>
                <td>Centro</td>
                <td id="centro_chargers">0</td>
                <td id="centro_queue">0</td>
                <td id="centro_wait">0</td>
                <td id="centro_battery">0</td>
            </tr>
            <tr>
                <td>Bonfim</td>
                <td id="bonfim_chargers">0</td>
                <td id="bonfim_queue">0</td>
                <td id="bonfim_wait">0</td>
                <td id="bonfim_battery">0</td>
            </tr>
            <tr>
                <td>Campanhã</td>
                <td id="campanha_chargers">0</td>
                <td id="campanha_queue">0</td>
                <td id="campanha_wait">0</td>
                <td id="campanha_battery">0</td>
            </tr>
            <tr>
                <td>Porto</td>
                <td id="porto_chargers">0</td>
                <td id="porto_queue">0</td>
                <td id="porto_wait">0</td>
                <td id="porto_battery">0</td>
            </tr>
        </table>
    </div>

    <script>

        var carIcon = new L.Icon({
            iconUrl: 'static/car.png',
            shadowUrl: null,
            iconSize: [45, 30],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var centerIcon = new L.Icon({
            iconUrl: 'static/charging_station.png',
            shadowUrl: null,
            iconSize: [50, 50],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        // Initialize the map
        var map = L.map('map').setView([41.165, -8.61], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
        }).addTo(map);

        // Connect to the Socket.IO server
        var socket = io.connect('/');

        var markers = {};
        var circles = {};

        // Function to get color based on stress metric
        function getColor(stress_metric) {
            return stress_metric > 1.2 ? 'red' :
                   stress_metric > 0.9 ? 'darkorange' :
                   stress_metric > 0.7 ? 'orange' :
                   stress_metric > 0.5 ? 'yellow' :
                   stress_metric > 0.4 ? 'yellowgreen' :
                   stress_metric > 0.2 ? 'green' :
                                         'lightgreen';
        }

        // Listen for the 'map_updated' event
        socket.on('map_updated', function (data) {
            // Update the clock with the time from data.time
            document.getElementById('clock').innerText = data.time;
            console.log(data.time);

            // Show or hide the rush hour warning
            if (data.rush_hour) {
                document.getElementById('warning').style.display = 'block';
            } else {
                document.getElementById('warning').style.display = 'none';
            }

            // Update each set of coordinates
            data.region_data.forEach(function (region) {
                // If a marker for this name already exists and its position has changed, update its position
                if (markers[region.name]) {
                    markers[region.name].bindPopup("<b>" + region.name + "</b>");
                }
                // Otherwise, if a marker for this name does not exist, create a new marker and store it in the markers object
                else if (!markers[region.name]) {
                    var marker = L.marker([region.lat, region.lng], { icon: centerIcon }).addTo(map);
                    marker.bindPopup("<b>" + region.name + "</b>");
                    markers[region.name] = marker;
                }

                // Draw or update the circle based on the stress metric
                var color = getColor(region.stress_metric);

                if (circles[region.name]) {
                    circles[region.name].setLatLng([region.lat, region.lng]);
                    circles[region.name].setStyle({ color: color, fillColor: color });
                    circles[region.name].setRadius(1000);
                } else {
                    var circle = L.circle([region.lat, region.lng], {
                        color: color,
                        fillColor: color,
                        fillOpacity: 0.5,
                        radius: 1000
                    }).addTo(map);
                    circles[region.name] = circle;
                }
            });

            data.car_data.forEach(function (car) {
                // If a marker for this name already exists and its position has changed, update its position
                if (markers[car.name] && !markers[car.name].getLatLng().equals([car.lat, car.lng])) {
                    markers[car.name].setLatLng([car.lat, car.lng]);
                    markers[car.name].bindPopup("<b>" + car.name + "</b>");
                }
                // Otherwise, if a marker for this name does not exist, create a new marker and store it in the markers object
                else if (!markers[car.name]) {
                    var marker = L.marker([car.lat, car.lng], { icon: carIcon }).addTo(map);
                    var popupContent = "<b>" + car.name + "</b>";
                    marker.bindPopup(popupContent);
                    markers[car.name] = marker;
                }
            });

        });
    </script>
</body>

</html>